:root {
    --font-color: #333;
    --bg-color: #fff;

    --link-color:#0e6aff;
    --link-state-color:#0e6aff;
    --link-state-border-color: rgba(24, 132, 255, 0.959);

    --thead-bg-color: lightgrey;
    --table-border-color: lightgrey;

    --pre-color: #333;
    --pre-bg-color: #f1f1f1;
    
    --bq-color: #ccc;
    --hr-color: #ccc;

    --pagination-bg-color: #fafafa;
    --pagination-link-color: #696969;

    --post-info-color: grey;

    --switcher-color: #fff;
    --switcher-bg-color: #333; 
}
